<% if @fund.errors.any? %>
  <div id="error_explanation">
    <h2><%= @fund.errors.count %> errors prohibited this fund from being saved:</h2>
    <ul>
    <% @fund.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>Add money to your fund.</h1>
<form method="post" action="/funds">
  <p>
    <div><label for="name">Name</label></div>
    <%= @fund.name %>
  </p>
  <p>
    <div><label for="balance">Balance</label></div>
    <input id="balance" type="text" name="fund[balance]" />
  </p>
   <p>
    <div><label for="age">Age of funds in years</label></div>
    <%= @fund.age %>

  </p>

  <input type="submit" value="Update Fund" />
</form>